# Relucent Website.
# (c) 2022 Relucent Ltd
# https://relucent.dev
# Relucent\Website

@relucent-software:registry=https://npm.pkg.github.com
//npm.pkg.github.com/relucent-software/design:_authToken=${GITHUB_TOKEN}