/**
 * Relucent Branding Guidelines.
 *
 * @package   Relucent\Colors
 * @copyright 2022 Relucent Ltd
 * @link      https://relucent.dev
 * @since     1.0.0
 */

.row {
    display: flex;
}

.row .cell {
    width: 100%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.row .cell.DEFAULT {
    border-bottom: 2px solid black;
    font-weight: bold; padding: 20px;
}